/* COMMON STYLES */
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: 0;
    box-sizing: border-box;
    user-select: none;
}

*::-webkit-scrollbar {
    display: none !important;
}

body {
    font-family: "dm_sansregular";
    overflow-x: hidden !important;
}

span {
    color: #111;
    font-family: "dm_sansregular";
}

a {
    display: inline-block;
    text-decoration: none;
    color: #111;
    font-family: "dm_sansregular";
}

p {
    font-size: 18px;
    font-family: "dm_sansregular";
    font-family: "dm_sansregular";
}

ul {
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.wrapper {
    width: 85%;
    margin: 0 auto;
}

::placeholder {
    font-family: "dm_sansregular";
}

input {
    font-family: "dm_sansregular";
}

h1,
h2,
h3,
h4 {
    font-family: "dm_sansboldmedium";
    color: #111;
}

/* FONTS */
@font-face {
    font-display: auto;
    font-family: "dm_sansregular";
    src: url("../fonts/dmsans-regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-display: auto;
    font-family: "dm_sansboldmedium";
    src: url("../fonts/dmsans-medium.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "dm_sansboldbold";
    src: url("../fonts/dmsans-bold.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

/* DROP-BOX STYLES */
.drop-box {
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    border: 1px solid #e0d0d0;
    position: relative;
}

.drop-box div.drag-drop-box {
    border: 1px dashed #2cbaea;
    padding: 20px 10px;
}

.drop-box div p {
    font-size: 14px;
    color: #e0d0d0;
    font-family: "dm_sansregular";
}

.drop-box .last-error-msg {
    position: absolute;
    bottom: -20px;
}

.drop-box .last-error-msg p {
    color: red;
    font-size: 12px;
}

/* ERROR MESSAGE STYLE */
.error-message {
    font-size: 12px;
    color: red;
}

/* TOOLTIP STYLE */
.custom-style {
    color: #fff;
    background-image: linear-gradient(to top, #a1e8a0 0%, #a3f5c9 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 20px 20px -20px, rgba(0, 0, 0, 0.3) 0px 10px 20px -20px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.icon-box {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.loader-style {
    width: 20px;
    height: 20px;
    overflow: hidden;
}
